/*-------mobile-form-------*/

/*-------------Base Element Styles-------------*/

*{
    box-sizing: border-box;
}


h1 {
    background-color: #272730;
    color: white;
    margin-top: 0;
    padding: 20px 5px;

}


 h2 {
     color: #272730;
 }


h1,
h2,
.intro-p {
    text-align: center;
}
 

fieldset {
    border: none;
}
  

legend {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;

}



form {
    width: 95%;
    max-width: 500px;
    padding: 0 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


  
.news {
    margin-top: auto;
}
 

.button{
    background-color: #0fd6cc;
    color: #fff;
    display: block;
    border: none;
    border-radius: .10em;
    height:50px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.contact-form-code {
    width: 45%;
}

footer {
    text-align: center;
    line-height: 2;
   
}


/*-------------Font Family-------------*/


body {
    font-family: 'Gayathri', sans-serif;
} 

.intro {
    font-family: 'Lato', sans-serif;
}

h2,
.intro-p,
legend {
    font-family: 'Roboto', sans-serif;
}



/*-------------Attribute Selectors-------------*/

div[id="container"] {
    max-width: 500px;
    margin: auto;
    background-color: rgb(253, 250, 250);

}


input[type=text],
input[type=email],
input[type=cellphone],
select,
textarea {
    background-color: #e8eeef;
    color: black;
    display: block;
    border: none;
    border-radius: .10em;
    height:50px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;

} 




::placeholder {
    text-align: right;
    font-style: oblique;
    padding-right: 15px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}



/*-------------Horizontal Rule-------------*/


.line-1 {
    height: 5px;
    background-color: black;
    margin-bottom: 0;
    border-style: none;
}

.line-2 {
    height: 2px;
    background: black;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 25px;
}

.line-3 {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 2px;
    background: black;
    border-style: none;
}



/*-------------Media Querry-------------*/

@media (min-width: 768px) {


    div[id="container"] {
        max-width: 80%;
        margin: auto;
    }

    form {
        max-width: 900px;
    }

    .contact-form label,
    .contact-form-code label {
        flex-basis: 25%;
    }

    .contact-form select,
    .contact-form input,
    .contact-form-code input {
        flex-grow:1;
        flex-basis:70%;
    }


    .contact-form-code {
        width: 100%;
    }


    .contact-form-code input {
        max-width: 25%;
    }

    
    .contact-form,
    .contact-form-code {
        display: flex;
        flex-direction: row;
        align-items: center;
       
      }

      

     
    .line-1,
    .line-2 {
      width: 80%;
  }

}


















